body{
  margin: 0;
  background: #21c08b;
  font-family: 'Mulish', sans-serif;
}
.main{
  height: 300px;
}
.main__title{
  color: white;
  font-size: 25px;
}
.input{
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  height: 50px;
  padding: 0px 20px;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.1);
}
.input:focus{
  outline: none;
}
.input::placeholder{
  color: white;
}